BLOCKING_ENABLED={{ BLOCKING_ENABLED }}
PIHOLE_INTERFACE={{ PIHOLE_INTERFACE }}
IPV4_ADDRESS={{ ansible_default_ipv4.address }}
IPV6_ADDRESS=
PIHOLE_DNS_1={{ PIHOLE_DNS_1 }}
PIHOLE_DNS_2={{ PIHOLE_DNS_2 }}
QUERY_LOGGING={{ QUERY_LOGGING }}
INSTALL_WEB_SERVER={{ INSTALL_WEB_SERVER }}
INSTALL_WEB_INTERFACE={{ INSTALL_WEB_INTERFACE }}
LIGHTTPD_ENABLED={{ LIGHTTPD_ENABLED }}
WEBPASSWORD={{ WEBPASSWORD }}
