[ServerSettings]
ActiveMods={{ ark_mods }}
allowThirdPersonPlayer=1
AllowCaveBuildingPvE=1
alwaysNotifyPlayerJoined=1
alwaysNotifyPlayerLeft=1
bAllowFlyerCarryPvE=1
bDisableStructureDecayPvE=1
DayCycleSpeedScale=1.00000
DayTimeSpeedScale=0.80000
NightTimeSpeedScale=2.50000
DinoCharacterFoodDrainMultiplier=1.00000
DinoCharacterHealthRecoveryMultiplier=1.00000
DinoCharacterStaminaDrainMultiplier=1.00000
DinoCountMultiplier=1.00000
DinoDamageMultiplier=1.00000
DinoResistanceMultiplier=1.00000
globalVoiceChat=0
HarvestAmountMultiplier=4.00000
HarvestHealthMultiplier=1.00000
MaxStructuresInRange=6700
noTributeDownloads=0
PreventDownloadSurvivors=0
PreventDownloadItems=0
PreventDownloadDinos=0
PlayerCharacterFoodDrainMultiplier=1.00000
PlayerCharacterHealthRecoveryMultiplier=1.00000
PlayerCharacterStaminaDrainMultiplier=1.00000
PlayerCharacterWaterDrainMultiplier=1.00000
PlayerDamageMultiplier=1.00000
PlayerResistanceMultiplier=1.00000
proximityChat=0
ResourceNoReplenishRadiusPlayers=1.00000
ResourceNoReplenishRadiusStructures=1.00000
ResourcesRespawnPeriodMultiplier=1.00000
ServerAdminPassword={{ ark_admin_password }}
ServerCrosshair=1
serverForceNoHud=0
serverHardcore=0
ServerPassword=
serverPVE=0
ShowMapPlayerLocation=1
StructureDamageMultiplier=1.00000
StructureResistanceMultiplier=1.00000
TamedDinoDamageMultiplier=2.00000
TamedDinoResistanceMultiplier=2.00000
TamingSpeedMultiplier=8.00000
XPMultiplier=3.00000
EnablePVPGamma=0
EnablePVEGamma=0
SpectatorPassword=
DifficultyOffset=1
PvEStructureDecayPeriodMultiplier=1.00000
PvEStructureDecayDestructionPeriod=1.00000
Banlist="http://arkdedicated.com/banlist.txt"
PvPStructureDecay=0
DisableDinoDecayPvE=1
PvEDinoDecayPeriodMultiplier=1.00000
#FastDecayUnsnappedCoreStructures=true
AdminLogging=0
MaxTamedDinos=8000
MaxNumbersofPlayersInTribe=10
BattleNumOfTribestoStartGame=2
TimeToCollapseROD=100
BattleAutoStartGameInterval=100
BattleSuddenDeathInterval=300
KickIdlePlayersPeriod=0
PerPlatformMaxStructuresMultiplier=10.00000
StructureDamageRepairCooldown=0
bForceAllStructureLocking=1
AutoDestroyOldStructuresMultiplier=0.00000
bUseVSync=0
MaxPlatformSaddleStructureLimit=1000
bPassiveDefensesDamageRiderlessDinos=1
RCONPort=27020
AutoSavePeriodMinutes=15
RCONServerGameLogBuffer=600
OverrideStructurePlatformPrevention=1
PreventOfflinePvPInterval=60.0
bPvPDinoDecay=0
bPvPStructureDecay=0
DisableImprintDinoBuff=1
AllowAnyoneBabyImprintCuddle=1
EnableExtraStructurePreventionVolumes=1
ShowFloatingDamageText=1
DestroyUnconnectedWaterPipes=1
OverrideOfficialDifficulty=5.0
TheMaxStructuresInRange=10500
MinimumDinoReuploadInterval=0
PvEAllowStructuresAtSupplyDrops=1
NPCNetworkStasisRangeScalePlayerCountStart=70
NPCNetworkStasisRangeScalePlayerCountEnd=120
NPCNetworkStasisRangeScalePercentEnd=0.50
MaxPersonalTamedDinos=500
AutoDestroyDecayedDinos=0
ClampItemSpoilingTimes=0
UseOptimizedHarvestingHealth=1
AllowCrateSpawnsOnTopOfStructures=1
ForceFlyerExplosives=0
PreventOfflinePvP=1
AllowFlyingStaminaRecovery=1
AllowMultipleAttachedC4=1
OxygenSwimSpeedStatMultiplier=1.00
bPvEDisableFriendlyFire=1
ServerAutoForceRespawnWildDinosInterval=86400
DisableWeatherFog=0
RandomSupplyCratePoints=0
CrossARKAllowForeignDinoDownloads=1
PersonalTamedDinosSaddleStructureCost=19
### S+ Config
AlwaysAllowStructurePickup=True
AllowIntegratedSPlusStructures=True
StructurePickupTimeAfterPlacement=0
StructurePickupHoldDuration=0.5

[/Script/ShooterGame.ShooterGameUserSettings]
Version=5

[/script/engine.gamesession]
MaxPlayers={{ max_players }}

[SessionSettings]
SessionName={{ session_name }}

[MessageOfTheDay]
Duration=15
Message=Welcome to Franklin House Ark!

### MOD OPTIONS
# S+ - https://docs.google.com/spreadsheets/d/e/2PACX-1vTCz51gbAXrJjqpTySgqID0SvEScS6hBwpzEawIBj4h3l4iX0695S2TWgQYRaU6bL31h-IK_LLubGbO/pubhtml
[StructuresPlus]
NoFoundationsRequired=true
EnableEngramOverride=true
OverrideTekEngrams=true
ArePlatformsImmuneToDamage=true
DisableGeneratorDuringStorm=true
DisableElectronicsDuringStorm=true

# PlatformsPlus - https://pastebin.com/w9kPFMJ5
[PlatformsPlus]
IsImmuneToDamage=true

# Human NPCs - https://steamcommunity.com/workshop/filedetails/discussion/1443404076/1733210552645207209
[Human_NPCs]
Total_NPCs=500
Nude_NPCs=1
NoTames=1
StartFriendly=1
NoFireArrow=1
PlayerHutDistance=1000

# SwimClear Scuba Mask
[SwimClear]
EnableOverlay=2

# Disabled Mods
#[DPsTranqSniper]
#NarcoticDartMultiplier=5.0
#EnhNarcoticDartMultiplier=10.0
#MassNarcoticDartMultiplier=15.0
