server {
    server_name {{ FQDN }};
    add_header Referrer-Policy "no-referrer";

    location / {
        proxy_pass http://{{ HOST_IP }}:{{ FF_APP_PORT }}/;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_buffering off;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ DOMAIN }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ DOMAIN }}/privkey.pem; # managed by Certbot
#    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
#    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = {{ FQDN }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name {{ FQDN }};
    return 404; # managed by Certbot
}
