### Localhost IPv4
client localhost {
	ipaddr = 127.0.0.1
	proto = *
	secret = testing123
	require_message_authenticator = no
	nas_type	 = other
	limit {
		max_connections = 16
		lifetime = 0
		idle_timeout = 30
	}
}

### Localhost IPv6
client localhost_ipv6 {
	ipv6addr	= ::1
	secret		= testing123
}

### CAPE TOWN ###
client {{ CLIENT1_NAME }} {
  ipaddr = {{ CLIENT1_IP }}
  secret = {{ FREERADIUS_SECRET }}
  nas_type = {{ NAS_TYPE }}
}
