{
  "Port": 9117,
  "AllowExternal": true,
  "APIKey": "bncm8rgdqkg8v57oft2ut6hdtiqusz74",
  "AdminPassword": null,
  "InstanceId": "6xanit6ck0w0umlxyqr8p0nmxn93sozbft2zhno811rhixskhvapbruf15ue6ka3",
  "BlackholeDir": null,
  "UpdateDisabled": false,
  "UpdatePrerelease": false,
  "BasePathOverride": "/jackett/",
  "OmdbApiKey": null,
  "OmdbApiUrl": null,
  "ProxyUrl": null,
  "ProxyType": 0,
  "ProxyPort": null,
  "ProxyUsername": null,
  "ProxyPassword": null,
  "ProxyIsAnonymous": true
}
